# this contains all requirements
# for exporting the shiny app with shinylive
# currently pyfamsa and pytrimal are not supported
# these modules are loaded seperately

matplotlib>=3.8
shiny>=1.3
numpy>=2.0
shinywidgets>=0.5.2
plotly>=5.23