/* Define Color Variables for Consistency */
:root {
    --primary-color: #004B83;      /* Dark Blue from SVG */
    --secondary-color: #0086C1;    /* Lighter Blue from SVG */
    --light-bg: #ffffff;
    --light-border: #e9ecef;       /* A very light gray for borders */
    --dark-color: #333;
    --alt-color: #B67B28;
}

/* General Styles */
body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--light-bg);
    padding: 0;
    color: var(--dark-color);
    line-height: 1.6;
    margin-top: 100px; /* Space for fixed navbar */
}

h6 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--alt-color);
    margin-bottom: 8px;
}

/* Navbar */
.navbar {
    padding: 15px 20px;
    border-bottom: 1px solid var(--light-border);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .navbar-title {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--light-bg); /* Light text on dark navbar */
    width: 100%;
    justify-content: space-between;
}

/* Navbar Links and Tabs */
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
}

.navbar .nav-link {
    font-size: 1rem;
    padding: 10px 15px;
    transition: color 0.3s ease;
    margin-right: 6px;
    background: transparent;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.navbar .nav-link:hover {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.navbar .nav-link.active {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* Navbar link image behavior */
.navbar .nav-link img {
    transition: filter 0.3s ease;
    fill: var(--light-bg);
}

.navbar .nav-link:hover img {
    filter: invert(31%) sepia(99%) saturate(558%) hue-rotate(197deg) brightness(93%) contrast(92%);
}

.navbar .nav-link.active img {
    filter: invert(31%) sepia(99%) saturate(558%) hue-rotate(197deg) brightness(93%) contrast(92%);
}

/* Upload bar */
.shiny-file-input-progress {
    height: 1.5rem;
    border-radius: 5px;
}

.shiny-file-input-progress .progress-bar {
    background-color: var(--alt-color);
    height: 100%;
}

/* Inputs and Controls */
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--light-border);
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: var(--light-bg);
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: var(--alt-color);
    box-shadow: 0 0 5px rgba(0,75,131, 0.3);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.input-switch {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #495057;
}

/* Sliders */
input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.ui-slider {
    margin: 10px 0;
    background-color: var(--light-border);
    height: 5px;
    border-radius: 3px;
}

.ui-slider-thumb {
    background-color: var(--primary-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.ui-slider-thumb:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

/* Buttons */
button {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--light-bg);
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Download */
.shiny-download-link:hover img {
    filter: brightness(1) invert(1);
}

/* Sidebar --> PROBLEM TODO */
.bslib-sidebar-layout {
    background-color: var(--light-bg);
    padding: 20px;
    border-right: 1px solid var(--light-border);
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.03);
    max-height: 100vh;
    overflow-y: auto;
    transition: width 0.3s ease;
    z-index: 500; /* Sidebar stays below the navbar */
}

/* Sidebar Collapse Button */
.collapse-toggle {
    position: fixed;
    top: 100px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    z-index: 900;
    cursor: pointer;
}

/* Plots and Visualizations */
#msa_plot {
    border: 1px solid var(--light-border);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    background-color: var(--light-bg);
    padding: 5px;
    transition: width 0.3s ease;
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 140px;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Responsiveness */
@media (max-width: 768px) {
    .sidebar {
        padding: 15px;
    }

    .ui-slider {
        width: 100%;
    }

    .nav-tabs .nav-link {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}

.bslib-sidebar-layout {
    border: none !important;
    box-shadow: none !important;
}

.sidebar {
    border: none !important;
    box-shadow: none !important;
}
